<p id="notice"><%= notice %></p>

<p>
  <b>Ime:</b>
  <%= @song.ime %>
</p>

<p>
  <b>Opis:</b>
  <%= @song.opis %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
